---
import { Picture } from 'astro:assets'
import LogoMoon from '../images/logo.webp'
---

<div class="container">
  <Picture
    alt="Midnight Apes Logo"
    class="transform rounded-lg brightness-90 transition will-change-auto group-hover:brightness-110"
    style="transform: translate3d(0, 0, 0);"
    src={LogoMoon}
    width="125"
    height="125"
    sizes="(max-width: 640px) 100vw, (max-width: 1280px) 50vw, (max-width: 1536px) 33vw, 25vw"
    loading="eager"
  />
</div>
